* { box-sizing: border-box;}
a {text-decoration: none; color: #f4f4f4}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #f4f4f4;
}


.App {
  background: rgb(29, 29, 41) url('./img/space_star_wallpaper_0261.jpg') center center/cover no-repeat;
  height: 100vh;
}

.container {
  // max-width: 1170px;
  max-width: 1370px;
  margin: 0 auto;
  padding: 10px;
}

// %flex-center {
//   display: flex;
//   align-items: center;
//   align-content: center;
// }


header {
  background: rgba( #000000, .2);
  border-bottom: 1px solid rgb(86, 86, 86);
  border-top: 1px solid rgb(86, 86, 86);

  .header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_logo {
      height: 102px;
      width: 320px;
      border: 1px solid rgb(50, 50, 50);;
      position: relative;
      img { 
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }

      background:
      linear-gradient(to right, #f4f4f4 2px, transparent 2px) 0 0,
      linear-gradient(to right, #f4f4f4 2px, transparent 2px) 0 100%,
      linear-gradient(to left, #f4f4f4 2px, transparent 2px) 100% 0,
      linear-gradient(to left, #f4f4f4 2px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, #f4f4f4 2px, transparent 2px) 0 0,
      linear-gradient(to bottom, #f4f4f4 2px, transparent 2px) 100% 0,
      linear-gradient(to top, #f4f4f4 2px, transparent 2px) 0 100%,
      linear-gradient(to top, #f4f4f4 2px, transparent 2px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 10px 10px;
    }

    &_links {
      a {
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover{
          color: #b1b1b1;
          border-bottom: 1px solid #b1b1b1;
        }      
      }
    }
  }
}


.top {
  height: calc(100vh - 102px);
  display: flex;
  padding-top: 7%;
  justify-content: space-between;


  &_title {
    &_text {
      background: linear-gradient(90deg, rgba(244,244,244,1) 15%, rgba(255,64,5,1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      h1 {
        font-size: 60px;
        letter-spacing: 3px;
        margin: 40px 0 0 0;
        line-height: 1;
      }
      h3 {
        font-size: 24px;
        margin: 0 0 85px 0;
      }
    }
    button {
      font-size: 15px;
      color: #f4f4f4;
      padding: 10px 25px;
      cursor: pointer;
      transition: all .2s ease;
      &:hover { background-color: #dc671b; }

      background:
      linear-gradient(to right, #f4f4f4 1px, transparent 1px) 0 100%,
      linear-gradient(to left, #f4f4f4 1px, transparent 1px) 100% 0,
      linear-gradient(to bottom, #f4f4f4 1px, transparent 1px) 100% 0,
      linear-gradient(to top, #f4f4f4 1px, transparent 1px) 0 100%;
      background-repeat: no-repeat;
      background-size: 6px 6px;

      // &::before &::after{
      //   // background: 
      // }
    }
  }



  &_stats {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    height: 340px;
    &_item {
      cursor: pointer;
      height: 160px;
      width: 175px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      span {
        display: flex;
        align-items: flex-end;
        font-size: 70px;
        line-height: .85;
      }
      $border: 1px solid #aeaeae;
      $gradient: rgba(187, 187, 187, 0) 40%, rgba(65, 65, 65, 0.5) 100%;
      $gradient_hover: rgba(255, 255, 255, 0) 40%, rgba(147, 147, 147, 0.5) 100%;
      &:nth-child(1) {
        background: linear-gradient(145deg, $gradient);
        &:hover {
          background: linear-gradient(145deg, $gradient_hover);
          border-bottom: $border; border-right: $border; 
        }
      }
      &:nth-child(2){
        background: linear-gradient(220deg, $gradient);
        &:hover {
          background: linear-gradient(220deg, $gradient-hover);
          border-bottom: $border; border-left: $border; 
        }
      
      }
      &:nth-child(3) {
        background: linear-gradient(45deg, $gradient);
        &:hover {
          background: linear-gradient(45deg, $gradient-hover);
          border-top: $border; border-right: $border;
        }
      }
      &:nth-child(4) {
        background: linear-gradient(320deg, $gradient);
        &:hover {
          background: linear-gradient(320deg, $gradient-hover);
          border-top: $border; border-left: $border;
        }
      }
    }
  }
}






.nasa-page {

  .pic {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  
    img {
      display: block;
      margin: 0px auto;
      max-width: 600px;
      height: 600px;
      // @media (max-width: 883px) {
      //     width: 100%;
      // }
    }
    
    .descr {
        padding: 50px;
        font-size: 20px;
        p {font-weight: 600}
        h1, h5 {
            color:#e81212;
        }
    }
    // @media (max-width: 1150px){
    //   display: block;
    //   .descr { padding: 0 }
    // }
  }
}




footer {
  background: rgb(92, 0, 230);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 0 ;
  text-align: center;

  a {
    color: #f4f4f4;
    text-decoration: none;
    display: flex;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: 500;
      margin-right: 8px;
    }
    svg { height: 32px; width: 32px }
    transition: all 0.2s ease;
    &:hover {
      color: rgb(200, 200, 200);
      svg * {fill: rgb(200, 200, 200) !important;}
    }
  }

  & .footer_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {margin: 5px 10px; font-size: 16px;}
  }
}


@media (max-width: 993px){
  .header_links { display: none }
}
@media (max-width: 876px){
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    padding-top: 15px;
    &_title div{
      h1 {margin-top: 20px;}
      h3 {margin-bottom: 20px; text-align: center;}
      button {text-align: center;}
    }
    &_stats {
      padding-top: 20px;
    }
  }
}